@model projeto_e_commerce.Models.Pedido
@using myResource = projeto_e_commerce.Resource
@{
    Layout = "../Shared/_Layout.cshtml";
}

@Html.ActionLink(@myResource.Language.GoHome, "Index", "Home")
<div style="margin-top: 35px; margin-left: 38px; margin-right: 35px;">
    <div style="width: 75%; height: 60px; border: black solid; margin-bottom: 20px;">
        @Model.Numero
    </div>
    <div style="width: 45%; height: 200px; border: green solid; float: left; overflow: auto">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Valor Un.</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var x in Model.ItemPedidos)
            {
                <tr>
                    <td>
                        @x.Produto.Nome
                    </td>
                    <td>
                        @x.Quantidade
                    </td>
                    <td>
                        @x.Produto.Preco.ToString("c")
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div style="width: 45%; height: 200px; border: red solid; float: right">
        Nome Completo: @Model.Cliente.NomeCompleto
        <br/>
        <br/>
        Endereço: @Model.Cliente.Endereco
        <br/>
        <br/>
        Telefone: @Model.Cliente.Telefone
    </div>
</div>
