@using myResource = projeto_e_commerce.Resource
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div style="border: black solid; width: 550px; height: auto; margin-left: 27%">
        <h2 style="margin-left: 15px">
            @ViewBag.Title
        </h2>
        <div style="text-align: right; margin-bottom: 15px; margin-right: 15px;">
            @Html.ActionLink("Português", "Language", "Home", new { language = "pt-BR" }, null)/<a href="">@Html.ActionLink("Espanõl", "Language", "Home", new { language = "en-US" }, null)</a>
        </div>
        <div id="head">
            @*<div style="width: 80px; height: 65px; background-color: black; color: black; border: black solid;
                                                                                                                                                                             float: left; margin-left: 38px;">
                </div>*@
            <a href='@Url.Action("Index", "Home")'><img src="../../Content/images/Carofour.png" id="logoSite" alt="logo" /></a>
            <div id="subTitle">
                @myResource.Language.Title
            </div>
        </div>
        <br />
        <br />
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <br />
        <br />
        <div id="footer">
            <hr style="width: 75%" />
            Carofour @@ 2012 - contato: contato@carofour.com.br
        </div>
    </div>
</body>
</html>
